<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
<title>RECHARGE CARD</title>
</head>
<body>
<div layout:fragment="content">
	<div class="row">
	<div class="col-md-6">
	<div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">RECHARGE SUCCESS!!</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
             
             Your Current balance is: <label th:text="${balance}"/>
          
           
            </div>
            </div>
	</div>
</div>


</body>
</html>